<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>***Item*EDIT*Project 2 Edit Comic Page</title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>Comics Collections</h1>
        <h2>Edit your comic</h2>
        <form action="/items/<%=item.id%>?_method=PUT" method="POST">>
		<!--  NOTE: the form is pre-populated with values for the server-->
        Title: <input type="text" name="title" value="<%=item.title%>"/><br/>
        Issue: <input type="text" name="issue" value="<%=item.issue%>"/><br/>   
        Publication Date: <input type="text" name="publicationCoverDate" value="<%=item.publicationCoverDate%>"/><br/>
        Volume: <input type="text" name="volume" value="<%=item.volume%>"/><br/>
        Cover Price: <input type="text" name="priceCover" value="<%=item.priceCover%>"/><br/>
        Publisher: <input type="text" name="publisher" value="<%=item.publisher%>"/><br/>
        <!-- Volume Year: <input type="text" name="volumeYear" value="<%=item.volumeYear%>"/><br/>
        Variant: <input type="text" name="variantCover" value="<%=item.variantCover%>"/><br/>
        Type: <input type="text" name="typeItem" value="<%=item.typeItem%>"/><br/>
        Price Paid: <input type="text" name="pricePaid" value="<%=item.pricePaid%>"/><br/>
        Date Paid: <input type="text" name="datePaid" value="<%=item.datePaid%>"/><br/>
        Condition: <input type="text" name="condition" value="<%=item.condition%>"/><br/>
        Valuation: <input type="text" name="valuation" value="<%=item.valuation%>"/><br/>
        Valuation Date: <input type="text" name="valuationDate" value="<%=item.valuationDate%>"/><br/>
        Valuation Source: <input type="text" name="valuationSource" value="<%=item.valuationSource%>"/><br/>
        Keywords: <input type="text" name="keyWords" value="<%=item.keyWords%>"/><br/>
        Box Number: <input type="text" name="boxNumber" value="<%=item.boxNumber%>"/><br/>
        Box Divider: <input type="text" name="boxDivider" value="<%=item.boxDivider%>"/><br/>
        Box Location: <input type="text" name="boxLocation" value="<%=item.boxLocation%>"/><br/>
        Artist #1: <input type="text" name="artist1" value="<%=item.artist1%>"/><br/>
        Artist #2: <input type="text" name="artist2" value="<%=item.artist2%>"/><br/>
        Writer #1: <input type="text" name="writer1" value="<%=item.writer1%>"/><br/>
        Writer #2: <input type="text" name="writer2" value="<%=item.writer2%>"/><br/>
        Inks: <input type="text" name="inker" value="<%=item.inker%>"/><br/>
        Lettering: <input type="text" name="lettering" value="<%=item.lettering%>"/><br/>
        Coloring: <input type="text" name="coloring" value="<%=item.coloring%>"/><br/>
        Editor: <input type="text" name="editor" value="<%=item.editor%>"/><br/>
        Delete Flag: <input type="text" name="deleteFlag" value="<%=item.deleteFlag%>"/><br/>
        Delete Reason: <input type="text" name="deleteReason" value="<%=item.deleteReason%>"/><br/> -->

		<br/>
		<input type="submit" name="" value="Submit Changes"/>
        </form>
    </body>
</html>