<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>***Item*INDEX*Project 2 Comic Index Page</title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>Comics Collections</h1>
    
        <nav>
            <a href="/items/new">Enter a New Comic</a>
        </nav>
        <ul>
            <% item.forEach((item, user) => { %>
            <li>
                <% console.log(`item.userId = ${typeof item.userId}`) %>  
                <% console.log(`id =  ${typeof id}`) %>                              
                <% if (item.userId == id) {%> 
                    <% console.log(`inside item index IF @ ln 18 ${item.userId}`) %>                
                <a href="/items/<%= item.id %>">
                    <%= item.title %> <%= item.issue %> <%= item.publicationCoverDate %> 
                </a>
                			<!--  DELETE, removes row from db!!!-->
			<form action="/items/<%= item.id %>?_method=DELETE" method="POST">
				<input type="submit" value="Delete comic"/>
            </form>
                        <!-- Edit link here  -->
            <a href="/items/<%= item.id %>/edit">Edit</a>
            </li>
            <% } %>
            <% }) %>
          </ul>
    </body>
</html>