<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>**Item**SHOW**</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1>Comics Collections</h1>
    <h2><%= item.title %> <%= item.issue %> <%= item.publicationCoverDate %></h2>
    <br/>
    <br/>
    <br/>
    <!-- Add edit link here  -->
    <a href="/items/<%= item.id %>/edit">Edit</a>
    <!--  ADD DELETE FORM HERE-->
    <form action="/items/<%=item.id%>?_method=DELETE" method="POST">
        <input id="deleteIndex" type="submit" value="DELETE Comic"/>
    </form>
 
</body>
</html>